.counter{
    border: 2px solid #61dafb;
    border-radius: 10px;
    width: 250px;
    height: 280px;
}

.scoareboard{
    width: 220px;
    height: 170px;
    margin:15px;
    background-color: #61dafb;
    border-radius: 10px;
}

.controller_counter{
    border: 2px solid #61dafb;
    display: flex;
    border-radius: 10px;
    width: 220px;
    margin: 15px;
    height: 60px;
    justify-content: space-around;
}

.number{
    color:black;
    font-size: 55px;
    padding: 50px;
}
.number_error{
    color:red;
    font-size: 55px;
    padding: 50px;
}

button {
    margin-top: 15px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #61dafb;
    border:none;
}
.inc, .reset{
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.dontActive{
    background-color: #38676f;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}




